<?xml version="1.0"?>
<config>
    <modules>
        <Astralweb_Faq>
            <version>1.0.0</version>
        </Astralweb_Faq>
    </modules>
	<global>
		<blocks>
			<awfaq>
				<class>Astralweb_Faq_Block</class>
			</awfaq>
		</blocks>
		<helpers>
		   <awfaq>
				<class>Astralweb_Faq_Helper</class>
			</awfaq>
		</helpers>
		<models>
			<awfaq>
                <class>Astralweb_Faq_Model</class>
				<resourceModel>awfaq_resource</resourceModel>
            </awfaq>
			<awfaq_resource>
				<class>Astralweb_Faq_Model_Resource</class>
				<entities>
					<faqs>
						<table>aw_faqs</table>
					</faqs>
					<category>
						<table>aw_faqs_category</table>
					</category>
				</entities>
			</awfaq_resource>
		</models>
		<resources>
			<awfaq_setup>
				<setup>
					<module>Astralweb_Faq</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</awfaq_setup>
			<awfaq_write>
				<connection>
					<use>core_write</use>
				</connection>
			</awfaq_write>
			<awfaq_read>
				<connection>
					<use>core_read</use>
				</connection>
			</awfaq_read>
		</resources>
	</global>
	<frontend>
		<routers>
            <awfaq>
                <use>standard</use>
                <args>
                    <module>Astralweb_Faq</module>
                    <frontName>awfaq</frontName>
                </args>
            </awfaq>
        </routers>
		<layout>
            <updates>
                <awfaq>
                    <file>astralweb/faq.xml</file>
                </awfaq>
            </updates>
        </layout>
	</frontend>
	<admin>
        <routers>
            <awfaq>
                <use>admin</use>
                <args>
                    <module>Astralweb_Faq</module>
                    <frontName>awfaq</frontName>
                </args>
            </awfaq>
        </routers>
    </admin>
	<adminhtml>
		<layout>
            <updates>
                <awfaq>
                    <file>astralweb/faq.xml</file>
                </awfaq>
            </updates>
        </layout>
	</adminhtml>
</config>
